{
"extends": "airbnb",
"rules": {
    "arrow-parens": 0,
    "camelcase": 0,
    "function-paren-newline": 0,
    "func-names": 0,
    "implicit-arrow-linebreak": 0,
    "import/order": 0,
    "consistent-return": 0,
    "no-restricted-syntax": 0,
    "no-else-return": 0,
    "arrow-body-style": 0,
    "padded-blocks": 0,
    "prefer-template": 0,
    "no-shadow": 0,
    "no-console": 0,
    

  }
}